.how {
    text-align: center;

    &__title {
        @extend %main-title;
        padding: 20px 0;
        letter-spacing: 0.2px;
    }

    &__list {
        margin: 20px 0;

        &-item {
            width: 290px;
            height: 268px;
            box-shadow: 4px 6.928px 16px rgba(29,29,27,0.11);
        }

        &-svg {
            width: 50px;
            height: 50px;
            fill: $orange-color;
            margin-top: 40px;
        }

        &-title {
            @extend %menu-title;

            &::after {
                content: "";
                display: block;
                width: 25px;
                height: 2px;
                background-color: $orange-color;
                margin: 15px auto;
            }
        }

        &-descrp {
            font-size: 11px;
            color: $grey-color;
            line-height: 1.5;

        }
    }
}

@media (max-width: 767px) {
    .how {
        &__title {
            font-size: 20px;

        }
        &__list {

            &-item {
                width: 280px;

                &:not(:first-child) {
                    margin-top: 20px;
                }
            }

            &-title {
                font-size: 13px;
                line-height: 1.3;
            }

        }
    }
}