.why {
    &__title {
        @extend %main-title;
        color: white;
        font-weight: 900;
        margin-bottom: 16px;
    }
}

.list {
    width: 280px;
    background-color: #fff;
    box-shadow: 4px 6.928px 10.5px rgba(29,29,27,0.04);
    padding: 2px 0 30px 24px;

    &-container {
        position: absolute;
        top: 281%;
        left: 50%;
        transform: translateX(-50%);

    }

    &-item {
        width: 216px;
    }

    &-title {
        font-size: 13px;
        color: $orange-color;
        font-weight: 600;
        font-family: $main-font;
        text-transform: capitalize;
        display: inline-block;
        padding: 16px 0;

        &::before {
            content: "";
            display: inline-block;
            width: 25px;
            height: 2px;
            background-color: $orange-color;
            margin-bottom: 4px;
            margin-right: 12px;
            margin-left: 2px;
        }
    }

    &-descrp {
        font-size: 13px;
        letter-spacing: 1px;
        line-height: 18px;
        color: black;
        font-weight: 700;
    }

}

@media (max-width: 767px) {
    .why__title {
        font-size: 20px;
        line-height: 1.5;
        text-align: left;
        width: 150px;
    }
}

@media (min-width: 768px){
    .list {
        width: 688px;
        padding: 2px 0 30px 24px;
    
        &-container {
            top: 281%;
        }
    
        &-item {
            width: 250px;
        }
    
        &-title {
            font-size: 13px;
            color: $orange-color;
            font-weight: 600;
            font-family: $main-font;
            text-transform: capitalize;
            display: inline-block;
            padding: 16px 0;
    
            &::before {
                content: "";
                display: inline-block;
                width: 25px;
                height: 2px;
                background-color: $orange-color;
                margin-bottom: 4px;
                margin-right: 12px;
                margin-left: 2px;
            }
        }
    
        &-descrp {
            font-size: 13px;
            letter-spacing: 1px;
            line-height: 18px;
            color: black;
            font-weight: 700;
        }
    
    }
}