%main-title{
    font-family: $main-font;
    font-weight: 800;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 2.1px;
    color: black;
}

%menu-title{
    font-family: $main-font;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.9px;
    color: black;
}

%program-text {
    font-family: $main-font;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    letter-spacing: 0.9px;
    color: $grey-color;
}

%icon {
    width: 54px;
    height: 54px;
}